.flex{
    display: flex ;
}
.flex-wrap{
    flex-wrap: wrap;
}
 
 .justify-between{
   justify-content: space-between;
 }

 .justify-center{
    justify-content: center
 }

 .item-center{
    align-items: center;
 }

 .p-1{
    padding: 1rem;
 }

 .p-05{
    padding: 0.5rem;
 }

 .p-8px{
    padding: 8px;
 }

 .p-12px{
    padding: 12px;
 }

 .p-16px{
    padding: 16px;
 }

 .p-20px{
    padding: 20px;
 }

 .p-24px{
    padding: 24px;
 }

 .p-28px{
    padding: 28px;
 }

 .p-32px{
    padding: 32px;
 }

 .border{
    border-width: 1px;
    border-style: solid;
 }

 .border-gray{
    border-color: var(--darkBorderColor);
 }

 .border-b{
   border-bottom-width: 1px;
   border-bottom-style: solid;
}

.border-l{
   border-left-width: 1px;
   border-left-style: solid;
}

.border-r{
   border-right-width: 1px;
   border-right-style: solid;
}

.border-t{
   border-top-width: 1px;
   border-top-style: solid;
}

.font-semibold{
   font-weight: 700
}

.font-medium{
   font-weight: 800;
}

.font-bold{
   font-weight: 900;
}

.text-xl{
   font-size: 20px;
}

.text-lg{
   font-size: 18px;
}
.text-base{
   font-size: 16px;
}

.text-sm{
   font-size: 12px;
}

.text-xs{
   font-size: 9px;

}

.pt-4px {
   padding-top: 4px;
}

.pt-8px {
   padding-top: 8px;
}

.pt-12px {
   padding-top: 12px;
}

.pt-16px {
   padding-top: 16px;
}

.pt-20px {
   padding-top: 20px;
}

.pt-24px {
   padding-top: 24px;
}

.pb-4px {
   padding-bottom: 4px;
}

.pb-8px {
   padding-bottom: 8px;
}

.pb-12px {
   padding-bottom: 12px;
}

.pb-16px {
   padding-bottom: 16px;
}

.pb-20px {
   padding-bottom: 20px;
}

.pb-24px {
   padding-bottom: 24px;
}

.pl-4px {
   padding-left: 4px;
}

.pl-8px {
   padding-left: 8px;
}

.pl-12px {
   padding-left: 12px;
}

.pl-16px {
   padding-left: 16px;
}

.pl-20px {
   padding-left: 20px;
}

.pl-24px {
   padding-left: 24px;
}

.pr-4px {
   padding-right: 4px;
}

.pr-8px {
   padding-right: 8px;
}

.pr-12px {
   padding-right: 12px;
}

.pr-16px {
   padding-right: 16px;
}

.pr-20px {
   padding-right: 20px;
}

.pr-24px {
   padding-right: 24px;
}

/* Margin */
.m-4px {
   margin: 4px;
}

.m-8px {
   margin: 8px;
}

.m-12px {
   margin: 12px;
}

.m-16px {
   margin: 16px;
}

.m-20px {
   margin: 20px;
}

.m-24px {
   margin: 24px;
}

.mt-4px {
   margin-top: 4px;
}

.mt-8px {
   margin-top: 8px;
}

.mt-12px {
   margin-top: 12px;
}

.mt-16px {
   margin-top: 16px;
}

.mt-20px {
   margin-top: 20px;
}

.mt-24px {
   margin-top: 24px;
}

.mb-4px {
   margin-bottom: 4px;
}

.mb-8px {
   margin-bottom: 8px;
}

.mb-12px {
   margin-bottom: 12px;
}

.mb-16px {
   margin-bottom: 16px;
}

.mb-20px {
   margin-bottom: 20px;
}

.mb-24px {
   margin-bottom: 24px;
}

.ml-4px {
   margin-left: 4px;
}

.ml-8px {
   margin-left: 8px;
}

.ml-12px {
   margin-left: 12px;
}

.ml-16px {
   margin-left: 16px;
}

.ml-20px {
   margin-left: 20px;
}

.ml-24px {
   margin-left: 24px;
}

.mr-4px {
   margin-right: 4px;
}

.mr-8px {
   margin-right: 8px;
}

.mr-12px {
   margin-right: 12px;
}

.mr-16px {
   margin-right: 16px;
}

.mr-20px {
   margin-right: 20px;
}

.mr-24px {
   margin-right: 24px;
}

.flex-1{
   flex-grow: 1;
}